{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 h-100">
    <div class="row h-100 container-fluid">
        <div class="col-7 col-md-6 my-auto ">
            <h1 class="display-4 index-text">
                Seeds, tools and style...bloom <i>your</i> Garden smile.
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'all_products' %}" class="btn btn-ls rounded-0 text-uppercase py-3 shop-now-button">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

