@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

:root {
    /* P = Primary | S = Secondary */
    --p-text: #628321;
    --background: #fffacd;
    --s-text: #537a99;
    --s-highlight: #a4643d;
    --white: #FFFFFF;
    --black: #000000;
    --border: #dc3545;
    --p-font: 'Barlow Condensed', sans-serif
}

html {
    height: 100%;
}

body {
    color: var(--p-text); /* Use primary text color */
    background-color: var(--white); /* Use white as background color */
    background: url('/media/homepage_background_cropped.webp') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    height: calc(100vh - 164px);
    font-family: var(--p-font);
}

.background{
    background-color: var(--background);
}

/* Navbar */
#main-nav {
    font-size: 1em;
}

.logo-font {
    font-style:oblique;
    font-size: 48px;
}

.index-text {
    color:var(--white);
    font-size: 2em;
}

.sublink {
    color:var(--p-text);
}

li.nav-item.dropdown {
    margin-left: 1em !important;
    font-size: 50px;
    color:var(--p-text);
}

a.nav-link {
    font-size: 0.75em;
    color: var(--p-text);
    transition: color 1.3s; 
}

a.nav-link:hover {
    color: var(--s-highlight); 
}

a.dropdown-item {
    color: var(--s-text);
    font-size: 1.5em;
}

a.visited {
    color: var(--s-highlight);
}

/* Logo and heading */


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--black);
    color: var(--white);
    min-width: 260px;
    transition: background-color 0.3s, color 0.3s; /* Adding transition for smooth change */
}

.shop-now-button:hover,
.shop-now-button:active {
    background: var(--black);
    color: var(--white);
}

.btn-black {
    background: var(--black);
    color: white;
}

.btn-outline-black {
    background: white;
    color: var(--black) !important; /* use important to override link colors for <a> elements */
    border: 1px solid var(--black);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--black);
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--black);
    color: white;
}

.border-black {
    border: 1px solid var(--black) !important;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: var(--black) !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: auto;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: auto;
    overflow-y: auto;
}



/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: var(--black);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product form */
.category-badge {
    display: inline-block;
    margin-right: 5px; /* Adjust as needed */
}

.badge-white {
    background-color: #fff;
    color: #000;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--border);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--border);
    border-color: var(--border);
    border-radius: 0;
}


/* Media Queries */

/* Phone */
@media (min-width: 320px) {
    /* Styles for phones */
    .logo-font {
        font-size: 2em;
    }
}

/* Tablet */
@media (min-width: 768px) {
    /* Styles for tablets */
    .logo-font {
        font-size: 2.5em; /* Adjust font size for tablets */
    }
}

/* Desktop */
@media (min-width: 1200px) {
    /* Styles for larger desktops */
    body {
        font-size: 40px; /* Adjust font size for larger desktops */
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 900px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 116px; /* Double the padding */
    }

    body {
        height: calc(100vh - 180px); /* Double the height */
        font-size: 20px; /* Default font size for desktop, doubled */
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link: {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }
    
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .25rem .25rem !important;
    }

    #home-link{
        font-size: 2rem;
    }
}

/* Large Desktop */
@media (min-width: 2560px) {
    /* Styles for large desktops (4K) */
    body {
        font-size: 48px; /* Adjust font size for 4K displays */
    }
}