<footer class="footer m-0 p-0 bg-dark">
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="col-12 mx-0 py-1 py-lg-0 text-center">
                    <a href="{% url 'home' %}" class="nav-link text-center">
                        <h3 class="logo-font text-white my-0"><strong>Hearten Horticulture</strong> Webshop</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <h4 class="h5 text-white">ABOUT</h4>
                <p class="text-white">
                    Welcome to Hearten Horticulture. Here you will find everything you need for the garden and more.
                    We offer a wide and ever expanding range of products to perfect your garden space.
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h5 class="text-white">FOLLOW US</h5>
                <div class="col p-0 mb-1">
                    <a href="https://www.facebook.com/heartenhorticulture" class="text-decoration-none" target="_blank" rel="noopener"
                        aria-label="Follow us on Facebook">
                        <i class="fab fa-facebook-square text-white" aria-hidden="true">
                            <span class="text-white pl-2">Facebook</span>
                        </i>
                    </a>
                </div>
                <div class="col p-0 mb-1">
                    <a href="https://www.instagram.com/heartenhorticulture" class="text-decoration-none" target="_blank" rel="noopener"
                        aria-label="Follow us on Instagram">
                        <i class="fab fa-instagram text-white" aria-hidden="true">
                            <span class="text-white pl-2">Instagram</span>
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <p class="text-white">
                    This website is currently operating in Test Mode for Stripe Payments. Any transactions conducted on
                    this platform are solely for testing purposes and do not involve actual financial transactions. No
                    real payments will be processed, and no actual charges will be incurred.
                </p>
            </div>
        </div>
    </div>
</footer>