<ul>
    <li class="list-inline-item ps-4 pe-4">
        <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form">
                <div class="input-group">
                    <input class="form-control border border-dark rounded-0" type="text" name="q"
                        placeholder="Search our site" aria-label="Search text box">
                    <button class="btn btn-dark border border-dark rounded-0" aria-label="searchBox" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown ps-4 pe-4">
        <a class=" nav-link d-block d-lg-none" href="#" id="user-options-mobile" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" aria-label="My Account">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options-mobile">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="Product Management" >Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item" aria-label="My profile">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="Logout">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="Sign up">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="Login">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item ps-4 pe-4">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
            href="{% url 'view_bag' %}" aria-label="View Bag">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>

</ul>